<footer class="bg-dark px-4 py-3 text-center border-t border-soft">
  <p class="text-muted text-sm md:text-base">
    American Countries App - © <%= new Date().getFullYear() %>
  </p>
  <p
    class="flex justify-center items-center gap-2 mt-1 text-muted text-xs sm:text-sm tracking-wide"
  >
    <svg class="icon-white w-4 h-4 opacity-80"><use href="#icon-code" /></svg>
    <span class="italic">Creado con código por</span>
    <strong class="text-yellow-400 not-italic font-medium"
      >Dev. Augusto Villegas </strong
    >
  </p>
</footer>
